.book {
  margin: 1rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  text-align: center;
  color: white;
}

.book h2 {
  font-size: 2rem;
  color: #9f57da;
}

.book h3 {
  color: #ab87ee;
  margin: 0;
  font-size: 1rem;
}

.book p {
  white-space: pre-line;
  white-space: pre-wrap;
}