.book {
  margin: 1rem;
  padding: 1rem;
  background-color: #230052;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  text-align: center;
  color: white;
}

.book h2 {
  font-size: 2rem;
  color: #ecacde;
}

.book h3 {
  color: #ec77c9;
  margin: 0;
  font-size: 1rem;
}
