* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background-image: 
  linear-gradient(to right, rgba(230, 231, 232, 0.52), rgba(34, 31, 45, 0.73)),
  url("./components/images/bckg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

section {
  margin: 1rem auto;
  width: 90%;
  max-width: 40rem;
  text-align: center;
  background-color: rgba(201, 199, 209, 0.85);
  padding: 2rem;
  border-radius: 12px;
}

button {
  font: inherit;
  cursor: pointer;
  background: rgba(166, 118, 176,0.85);
  border: 1px solid rgba(166, 118, 176,0.85);
  color: white;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 20px;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background-color: rgba(199, 151, 209, 0.85);
  border-color: rgba(199, 151, 209, 0.85);
}
